In [1]:
#!/usr/bin/env python

In [2]:
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [3]:
import numpy as np
import wuml
from wuml import norm
import wplotlib

load required data

In [4]:
data = wuml.wData(xpath='wine.csv', ypath='wine_label.csv', label_type='discrete', path_prefix=['../../data/', '../../data/'] ) 
X1 = wuml.normalize(data, 'l1', return_new_copy=True)	
#	Every row is normalized to have l1 = 1
wuml.jupyter_print(norm(X1, norm='l1'))

       0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
..   ...
173  1.0
174  1.0
175  1.0
176  1.0
177  1.0

[178 rows x 1 columns]

In [5]:
X2 = wuml.normalize(data, 'l2', return_new_copy=True)
#	Every row is normalized to have l2 = 1
wuml.jupyter_print(norm(X2, norm='l2'))

       0
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
..   ...
173  1.0
174  1.0
175  1.0
176  1.0
177  1.0

[178 rows x 1 columns]