In [1]:
#!/usr/bin/env python

In [2]:
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [3]:
import wuml
import wplotlib
import numpy as np

In [4]:
data = wuml.wData(xpath='../../data/wine.csv', ypath='../../data/wine_label.csv', label_type='discrete')
tenFoldData = wuml.gen_10_fold_data(data=data)
tb = wuml.result_table(column_names=['Fold', 'Train Acc', 'Test Acc'])

In [5]:
for i, fold in enumerate(tenFoldData):
	[X_train, Y_train, X_test, Y_test] = fold
	svm = wuml.classification(X_train, y=Y_train, test_data=X_test, testY=Y_test, classifier='SVM')
	tb.add_row([i+1, svm.Train_acc , svm.Test_acc])

In [6]:
TrainAcc = np.mean(tb.get_column('Train Acc').X)
TestAcc = np.mean(tb.get_column('Test Acc').X)
tb.add_row(['Avg Acc', TrainAcc , TestAcc])

In [7]:
wuml.jupyter_print(tb, display_all_rows=True)

       Fold Train Acc Test Acc
0       1.0       1.0      1.0
1       2.0       1.0      1.0
2       3.0       1.0      1.0
3       4.0       1.0    0.944
4       5.0       1.0      1.0
5       6.0       1.0      1.0
6       7.0       1.0    0.944
7       8.0       1.0      1.0
8       9.0       1.0    0.941
9      10.0       1.0      1.0
10  Avg Acc       1.0   0.9829