In [1]:
#!/usr/bin/env python

In [2]:
import wuml

2021-10-29 09:42:59.343150: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0

In [3]:
data = wuml.wData('../../data/shap_regress_example_uniform.csv', label_column_name='label', 
                  label_type='continuous', first_row_is_label=True, preprocess_data='center and scale')

In [4]:
reg = wuml.regression(data, regressor='kernel ridge', alpha=0.05, gamma=0.05, l1_ratio=0.05)
print('Running a single regressor')
summary = reg.result_summary(print_out=False)
summary.style

Running a single regressor

In [7]:
print('\n\nRun all regressors sorted by least test error')
result = wuml.run_every_regressor(data, alpha=0.1, gamma=0.05, l1_ratio=0.05)
result['Train/Test Summary'].style

Run all regressors sorted by least test error

In [10]:
YvY = result['linear'].show_true_v_predicted()
YvY.df.style