In [1]:
#!/usr/bin/env python

In [2]:
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [3]:
import wuml 
import numpy as np

ata = wuml.make_moons()

In [4]:
n = 1000
x1 = np.random.randn(n,1)
x2 = x1 
x3 = np.random.randn(n,1)
x4 = x3 + 0.05*np.random.randn(n,1)
x5 = np.random.randn(n,1)
data = np.hstack((x1,x2,x3,x4,x5))
data = wuml.ensure_wData(data, column_names=['A','B','C','D','E'])

In [5]:
FS = wuml.feature_selection(data)
wuml.jupyter_print(FS.removal_history)
wuml.jupyter_print(FS.removal_table)

          A         B         C         D         E
0  0.965998  0.965998  0.966686  0.966296  0.901903
1  0.969061  0.969061       NaN  0.733995  0.870977
2       NaN  0.694572       NaN  0.709748   0.90157
3       NaN  0.550548       NaN  0.563091       NaN

  column ID Residual HSIC
0         C      0.966686
1         A      0.969061
2         E       0.90157
3         D      0.563091