In [1]:
#!/usr/bin/env python

In [2]:
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [3]:
import wuml
import numpy as np
import torch
import torch.nn as nn
import wplotlib
from sklearn.metrics import accuracy_score

The idea of training a neural network boils down to 3 steps<br>
	1. Define a network structure<br>
		Example: This is a 3 layer network with 100 node width<br>
			networkStructure=[(100,'relu'),(100,'relu'),(1,'softmax')]<br>
	2. Define a cost function<br>
	3. Call train()<br>
	4. Display results

In [4]:
data = wuml.wData(xpath='../../data/wine.csv', ypath='../../data/wine_label.csv', batch_size=20, label_type='discrete')

In [5]:
def costFunction(x, y, ŷ, ind):
	lossFun = nn.CrossEntropyLoss() 
	loss = lossFun(ŷ, y) #weird from pytorch, dim of y is 1, and ŷ is 20x3	
	return loss

t is important for pytorch that with classification, you need to define Y_dataType=torch.int64<br>
ou can define a costFunction, but for classification it can be directly set to 'CE'<br>
Net = wuml.basicNetwork(costFunction, data, networkStructure=[(100,'relu'),(100,'relu'),(3,'none')],

In [6]:
bNet = wuml.basicNetwork(costFunction, data, networkStructure=[(100,'relu'),(100,'relu'),(3,'none')], 
						Y_dataType=torch.LongTensor, max_epoch=100, learning_rate=0.001)
bNet.train(print_status=False)

Report Results

In [7]:
Ŷ = bNet(data.X, output_type='ndarray', out_structural='1d_labels')
CR = wuml.summarize_classification_result(data.Y, Ŷ)
wuml.jupyter_print('\nAccuracy : %.3f\n\n'%CR.avg_error())
CR.true_vs_predict(sort_by='label', print_out=True)

     y  ŷ  Δy
0    0  0   0
1    0  0   0
2    0  0   0
3    0  0   0
4    0  1   1
..  .. ..  ..
173  2  0   2
174  2  0   2
175  2  0   2
176  2  0   2
177  2  2   0

[178 rows x 3 columns]

     y  ŷ  Δy
177  2  2   0
153  2  0   2
151  2  1   1
150  2  1   1
149  2  1   1
..  .. ..  ..
35   0  0   0
34   0  0   0
33   0  0   0
32   0  0   0
0    0  0   0

[178 rows x 3 columns]

     y  ŷ  Δy
177  2  2   0
153  2  0   2
151  2  1   1
150  2  1   1
149  2  1   1
..  .. ..  ..
35   0  0   0
34   0  0   0
33   0  0   0
32   0  0   0
0    0  0   0

[178 rows x 3 columns]