In [1]:
#!/usr/bin/env python

In [2]:
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [3]:
import wuml
import numpy as np
import torch
import torch.nn as nn

This code shows how you can mix and match different networks<br>
This network simultaneously minimize CE and MSE loss

In [4]:
def status_printing(all_losses, epoch, lr):
	[total_loss, CE_loss, Regress_loss] = all_losses
	txt = '\tepoch: %d, Tloss: %.4f, CEloss: %.4f, MSELoss: %.4f, Learning Rate: %.8f'%((epoch+1), total_loss, CE_loss, Regress_loss, lr)
	wuml.write_to_current_line(txt)

You can also control the behavior of the network on call

In [5]:
def network_behavior_on_call(all_data, all_networks):
	net1 = all_networks[0]
	net2 = all_networks[1]
#
	#	the 1st 2 items of all_data will always be X, and y
	#	the rest will be what you include
	X = all_data[0]
	y = all_data[1]
	y2= all_data[2]
#
	ŷₐ = net1(X)
	ŷᵦ = net2(ŷₐ)
#
	labels = wuml.softmax(ŷₐ, turn_into_label=True)
	return [labels, ŷᵦ]

In [6]:
def costFunction(all_data, all_networks):	
	net1 = all_networks[0]
	net2 = all_networks[1]
#
	#	the 1st 3 items of all_data will always be X, y, index
	#	the rest will be what you include
	X = all_data[0]
	y = all_data[1]
	indx = all_data[2]
	y2= all_data[3]
#
	# run data through the networks
	ŷₐ = net1(X)
	ŷᵦ = net2(ŷₐ)
#
	CE_loss = wuml.CrossEntropyLoss(y, ŷₐ)
	Regress_loss = wuml.MSELoss(y2, ŷᵦ)
	total_loss = 0.1*CE_loss + Regress_loss
#
	return [total_loss, CE_loss, Regress_loss]

In [7]:
def optimizer_steps_order(all_optimizers):
	#	The optimizers are in the order of the network structure you originally defined
	opt1 = all_optimizers[0]
	opt2 = all_optimizers[1]
#
	opt2.step()
	opt1.step()

This data has both regression and classification labels (3 classes)<br>
the network will train on both labels by<br>
	using the 1st network to get 3 softmax outputs, <br>
	from the 1st network, it will connect to the 2nd network, <br>
		expand to width of 5 and compress down to 1 for regression

In [8]:
data = wuml.wData(xpath='../../data/wine.csv', ypath='../../data/wine_label.csv', 
					extra_data='../../data/wine_regress_label.csv', 
					preprocess_data='center and scale', 
					 batch_size=16, label_type='discrete')
Y2 = data.extra_data_dictionary['numpy'][0]

In [9]:
netStructureList = []
netStructureList.append([(100,'relu'),(3,'none')])
netStructureList.append([(50,'relu'),(1,'none')])
netInputDimList = [13, 3]

In [10]:
cNet = wuml.combinedNetwork(data, netStructureList, netInputDimList, costFunction, 
							optimizer_steps_order=optimizer_steps_order,
							max_epoch=500, on_new_epoch_call_back=status_printing,
							network_behavior_on_call=network_behavior_on_call,
							Y_dataType=torch.LongTensor, extra_dataType=[torch.FloatTensor]) 
cNet.fit()
[labels, ŷᵦ] = cNet(data)

	epoch: 501, Tloss: 0.0312, CEloss: 0.2204, MSELoss: 0.0092, Learning Rate: 0.00100000

Note that we will save this network for later use, check load_use_network.py file

In [11]:
wuml.save_torch_network(cNet, './ComplexNet.pk')

In [12]:
CR = wuml.summarize_classification_result(data.Y, labels)
#wuml.jupyter_print('\nAccuracy : %.3f\n\n'%CR.avg_error())

Classification Accuracy: 0.9888

In [13]:
SR = wuml.summarize_regression_result(Y2, ŷᵦ)
Reg_result = SR.true_vs_predict(print_out=False)
wuml.jupyter_print(Reg_result, display_all_rows=True)

Mean Absolute Error: 0.0434

         y       ŷ     Δy
0    -0.97  -0.993  0.023
1   -16.93 -16.884  0.044
2    13.65  13.673  0.024
3     4.96   4.941  0.020
4    25.40  25.317  0.088
5     0.16   0.164  0.002
6     1.44   1.494  0.056
7    11.06  11.006  0.050
8   -12.00 -11.970  0.031
9   -12.01 -12.007  0.007
10   -2.23  -2.196  0.038
11   -7.77  -7.748  0.023
12   -2.73  -2.697  0.037
13   -2.52  -2.450  0.072
14   -2.44  -2.395  0.043
15   10.77  10.741  0.028
16   15.13  15.032  0.098
17    6.44   6.411  0.029
18    0.32   0.334  0.017
19   15.63  15.535  0.097
20   -8.57  -8.575  0.007
21   25.13  25.037  0.093
22   -3.68  -3.643  0.036
23   -0.76  -0.721  0.038
24    7.34   7.357  0.016
25   36.64  36.521  0.121
26    5.98   5.993  0.016
27  -15.48 -15.418  0.060
28   17.22  17.166  0.051
29  -11.29 -11.266  0.022
30    9.82   9.842  0.017
31   -5.04  -5.014  0.030
32   -3.84  -3.801  0.041
33    9.27   9.207  0.060
34    8.73   8.719  0.011
35   -1.33  -1.313  0.018
36   14.01  13.964  0.045
37    1.56   1.584  0.024
38  -20.23 -20.213  0.013
39   22.26  22.100  0.160
40   -7.71  -7.708  0.001
41    3.49   3.473  0.014
42    6.62   6.590  0.029
43   11.39  11.334  0.056
44  -17.40 -17.389  0.013
45   21.33  21.192  0.134
46    9.82   9.795  0.022
47  -15.53 -15.495  0.038
48    1.14   1.133  0.003
49   -7.98  -7.951  0.034
50  -21.77 -21.793  0.019
51    5.44   5.505  0.065
52   -2.54  -2.574  0.031
53   11.02  10.977  0.038
54  -10.20 -10.231  0.036
55    0.34   0.310  0.031
56   -6.58  -6.561  0.016
57   10.37  10.347  0.021
58   -1.34  -1.340  0.003
59  -60.91 -60.874  0.039
60  -17.60 -17.626  0.026
61  -25.66 -25.691  0.027
62  -28.13 -28.162  0.029
63  -21.59 -21.607  0.013
64   -2.99  -3.007  0.021
65   -3.60  -3.572  0.029
66  -42.22 -42.165  0.057
67  -31.58 -31.598  0.016
68  -12.73 -12.794  0.063
69  -40.10 -40.112  0.016
70  -14.87 -14.888  0.018
71    9.67   9.649  0.021
72   -9.06  -9.100  0.041
73    7.39   7.302  0.086
74  -16.23 -16.213  0.012
75  -28.04 -28.071  0.027
76  -42.67 -42.691  0.023
77   -4.33  -4.338  0.004
78  -33.42 -33.390  0.032
79   15.55  15.492  0.054
80  -31.41 -31.385  0.027
81  -12.93 -12.950  0.019
82   -5.46  -5.400  0.057
83   12.66  12.684  0.023
84   -6.94  -6.909  0.026
85  -18.99 -19.008  0.017
86  -10.08 -10.076  0.008
87    3.75   3.768  0.014
88   -1.11  -1.088  0.022
89  -12.99 -12.960  0.033
90   -9.16  -9.126  0.033
91   -6.79  -6.776  0.016
92  -12.32 -12.309  0.007
93   -4.20  -4.180  0.020
94  -10.76 -10.770  0.006
95  -16.09 -16.071  0.021
96   12.10  11.980  0.121
97  -28.08 -28.096  0.021
98  -24.92 -24.901  0.014
99   -1.59  -1.564  0.023
100 -34.41 -34.401  0.010
101 -30.70 -30.709  0.013
102   3.94   3.874  0.067
103 -29.79 -29.790  0.001
104 -23.31 -23.321  0.013
105  -3.00  -2.954  0.044
106 -18.26 -18.233  0.026
107  -8.85  -8.840  0.009
108 -30.18 -30.156  0.023
109   2.49   2.493  0.003
110 -15.18 -15.215  0.038
111  -8.52  -8.547  0.032
112  24.45  24.433  0.017
113 -11.95 -11.958  0.006
114  -4.01  -3.988  0.024
115 -18.99 -18.930  0.058
116 -26.82 -26.817  0.000
117 -14.80 -14.817  0.022
118  -8.76  -8.737  0.019
119  -8.88  -8.858  0.022
120  -0.76  -0.771  0.009
121  34.45  34.244  0.206
122  35.41  35.330  0.077
123  21.44  21.360  0.081
124  16.41  16.294  0.112
125 -12.05 -12.050  0.000
126 -11.40 -11.400  0.002
127  16.00  15.984  0.014
128  -9.31  -9.311  0.002
129  16.60  16.627  0.030
130 -11.69 -11.755  0.064
131   7.19   7.148  0.042
132   2.11   2.037  0.077
133  10.47  10.372  0.096
134 -16.76 -16.733  0.031
135  -7.48  -7.467  0.016
136  27.60  27.633  0.029
137  40.98  40.955  0.020
138   4.72   4.732  0.011
139  17.23  17.172  0.062
140  19.16  19.123  0.034
141   2.32   2.330  0.007
142  25.47  25.396  0.078
143  24.42  24.411  0.008
144   4.40   4.324  0.076
145   2.42   2.429  0.007
146  20.61  20.613  0.007
147  25.67  25.613  0.054
148  10.09  10.070  0.024
149  14.55  14.394  0.155
150  20.74  20.508  0.232
151   8.20   8.042  0.163
152  14.98  14.787  0.191
153   5.12   5.091  0.032
154 -21.97 -21.987  0.016
155  24.75  24.678  0.068
156  18.68  18.616  0.062
157  19.12  19.071  0.045
158  13.70  13.559  0.139
159   8.10   8.015  0.086
160  12.87  12.859  0.010
161  17.76  17.683  0.073
162  18.12  18.061  0.064
163   8.87   8.849  0.024
164   3.56   3.487  0.076
165  16.20  16.212  0.014
166  24.64  24.512  0.133
167   5.92   5.882  0.034
168  19.31  19.169  0.142
169  44.61  44.414  0.192
170   2.06   2.040  0.020
171  -3.88  -3.921  0.039
172   9.55   9.520  0.033
173  35.46  35.371  0.091
174  21.14  21.070  0.073
175  13.59  13.486  0.106
176   3.00   2.934  0.066
177  36.51  36.368  0.139