In [1]:
#!/usr/bin/env python
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [2]:
import wuml
import numpy as np
from scipy.stats import multivariate_normal

In [3]:
var = multivariate_normal(mean=[0,1], cov=[[1,0.5],[0.5,1]])
dat = var.rvs(size=2000, random_state=None)

In [4]:
P1 = wuml.multivariate_gaussian(dat)
P2 = wuml.flow(dat, max_epochs=200)

	epoch: 199, Avg Loss: 2.3530, patience: 108

In [5]:
p1 = P1(dat, return_data_type='ndarray')
p2 = P2(dat, return_data_type='ndarray')

In [6]:
wuml.jupyter_print(p1[0:10])
wuml.jupyter_print(p2[0:10])

          0
0  0.033104
1  0.008629
2  0.018487
3  0.111176
4  0.168373
5  0.061896
6  0.132060
7  0.154190
8  0.055368
9  0.120378

          0
0  0.027775
1  0.014672
2  0.011875
3  0.101590
4  0.189481
5  0.083790
6  0.128057
7  0.161123
8  0.046838
9  0.114741