In [1]:
#!/usr/bin/env python

In [2]:
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [3]:
import numpy as np
import wuml

example data of 2 classes

In [4]:
X1 = np.random.randn(20, 2) + 5
X2 = np.random.randn(7, 2) - 5
X = np.vstack((X1,X2))
y = np.append(np.ones(20), np.zeros(7))

There are currently 2 options<br>
oversampling : will oversample data from fewer sample with replacement<br>
'smote' : will take data from fewer sample class and find 5 nearest neighbor and get their interpolated sample as new

In [5]:
rebalancer = wuml.rebalance_data(X, y, method='oversampling')
wuml.jupyter_print(X)
wuml.jupyter_print(rebalancer.balanced_data)

           0         1
0   6.764052  5.400157
1   5.978738  7.240893
2   6.867558  4.022722
3   5.950088  4.848643
4   4.896781  5.410599
5   5.144044  6.454274
6   5.761038  5.121675
7   5.443863  5.333674
8   6.494079  4.794842
9   5.313068  4.145904
10  2.447010  5.653619
11  5.864436  4.257835
12  7.269755  3.545634
13  5.045759  4.812816
14  6.532779  6.469359
15  5.154947  5.378163
16  4.112214  3.019204
17  4.652088  5.156349
18  6.230291  6.202380
19  4.612673  4.697697
20 -6.048553 -6.420018
21 -6.706270 -3.049225
22 -5.509652 -5.438074
23 -6.252795 -4.222510
24 -6.613898 -5.212740
25 -5.895467 -4.613098
26 -5.510805 -6.180632

           0         1
0   6.764052  5.400157
1   5.978738  7.240893
2   6.867558  4.022722
3   5.950088  4.848643
4   4.896781  5.410599
5   5.144044  6.454274
6   5.761038  5.121675
7   5.443863  5.333674
8   6.494079  4.794842
9   5.313068  4.145904
10  2.447010  5.653619
11  5.864436  4.257835
12  7.269755  3.545634
13  5.045759  4.812816
14  6.532779  6.469359
15  5.154947  5.378163
16  4.112214  3.019204
17  4.652088  5.156349
18  6.230291  6.202380
19  4.612673  4.697697
20 -6.048553 -6.420018
21 -6.706270 -3.049225
22 -5.509652 -5.438074
23 -6.252795 -4.222510
24 -6.613898 -5.212740
25 -5.895467 -4.613098
26 -5.510805 -6.180632
27 -5.895467 -4.613098
28 -5.510805 -6.180632
29 -6.048553 -6.420018
30 -6.706270 -3.049225
31 -5.509652 -5.438074
32 -6.613898 -5.212740
33 -5.509652 -5.438074
34 -6.048553 -6.420018
35 -5.895467 -4.613098
36 -6.252795 -4.222510
37 -5.509652 -5.438074
38 -5.509652 -5.438074
39 -5.895467 -4.613098