In [1]:
#!/usr/bin/env python

In [2]:
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [3]:
import wuml
import numpy as np
import scipy.stats
from wplotlib import histograms
from wplotlib import lines

In [4]:
data = wuml.wData('../../data/shap_regress_example_uniform.csv', first_row_is_label=True)

In [5]:
wuml.jupyter_print(wuml.feature_wise_HSIC(data))
wuml.jupyter_print('\n\n')
wuml.jupyter_print(wuml.feature_wise_HSIC(data, get_top_dependent_pairs=True))
wuml.jupyter_print('\n\n')
wuml.jupyter_print(wuml.feature_wise_HSIC(data, label_name='label', get_top_dependent_pairs=True))

              A         B         C         D     label
A      1.000000  0.023042  0.072468  0.015044  0.146385
B      0.023042  1.000000  0.067133  0.180955  0.141689
C      0.072468  0.067133  1.000000  0.010727  0.039437
D      0.015044  0.180955  0.010727  1.000000  0.721366
label  0.146385  0.141689  0.039437  0.721366  1.000000

                0
D label  0.721366
B D      0.180955
A label  0.146385
B label  0.141689
A C      0.072468

      label
D  0.721366
A  0.146385
B  0.141689
C  0.039437

This function handles missing data as well by removing missing entries during pairwise HSIC

In [6]:
data = wuml.wData('../../data/missin_example.csv', first_row_is_label=True)
wuml.jupyter_print(data)
wuml.jupyter_print('\n\n')
wuml.jupyter_print(wuml.feature_wise_HSIC(data))

      A    B    C    D    E    F
0   NaN  NaN  NaN  NaN  NaN  7.0
1   1.0  2.0  3.0  4.0  5.0  6.0
2   1.0  2.0  3.0  3.0  3.0  4.0
3   2.0  2.0  3.0  3.0  3.0  5.0
4   NaN  2.0  3.0  3.0  3.0  3.0
..  ...  ...  ...  ...  ...  ...
10  NaN  2.0  NaN  NaN  3.0  NaN
11  NaN  2.0  NaN  NaN  3.0  NaN
12  NaN  2.0  NaN  NaN  3.0  NaN
13  NaN  2.0  NaN  NaN  NaN  NaN
14  NaN  2.0  NaN  NaN  NaN  NaN

[15 rows x 6 columns]

          A    B    C         D         E         F
A  1.000000  0.0  0.0  0.250000  0.250000  0.263726
B  0.000000  1.0  0.0  0.000000  0.000000  0.000000
C  0.000000  0.0  1.0  0.000000  0.000000  0.000000
D  0.250000  0.0  0.0  1.000000  1.000000  0.615672
E  0.250000  0.0  0.0  1.000000  1.000000  0.615672
F  0.263726  0.0  0.0  0.615672  0.615672  1.000000