In [1]:
#!/usr/bin/env python

In [2]:
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [3]:
import wuml
import numpy as np
import wplotlib

In [4]:
X = np.array([[1,2,4],[3,4,5]])
x = np.array([[3,3,3]])

In [5]:
data = wuml.wData(X_npArray=X, column_names=['A','B', 'C'])
wuml.jupyter_print('Original Data')
wuml.jupyter_print(data, endString='\n')

   A  B  C
0  1  2  4
1  3  4  5

In [6]:
C = data.get_columns('C')	
data.delete_column('C')
wuml.jupyter_print('With Column deleted')
wuml.jupyter_print(data, endString='\n')

   A  B
0  1  2
1  3  4

In [7]:
data.append_columns(C)
wuml.jupyter_print('With Column added back')
wuml.jupyter_print(data, endString='\n')

   A  B  C
0  1  2  4
1  3  4  5

In [8]:
data.append_rows(x)
wuml.jupyter_print('With row added')
wuml.jupyter_print(data, endString='\n')

   A  B  C
0  1  2  4
1  3  4  5
2  3  3  3

In [9]:
data.rename_columns(['c','e','f'])
wuml.jupyter_print('With column labels renamed')
wuml.jupyter_print(data, endString='\n')

   c  e  f
0  1  2  4
1  3  4  5
2  3  3  3

In [10]:
data.sort_by('f', ascending=True)
wuml.jupyter_print('Sort data by column f')
wuml.jupyter_print(data, endString='\n')

   c  e  f
2  3  3  3
0  1  2  4
1  3  4  5

In [11]:
data.reset_index()
wuml.jupyter_print('With index of the rows reset')
wuml.jupyter_print(data, endString='\n')

   c  e  f
0  3  3  3
1  1  2  4
2  3  4  5